/rpavelko_somee/_ReSharper.SomeeRpavelko/
/rpavelko_somee/packages/

/rpavelko_somee/rpavelko.Data/bin/
/rpavelko_somee/rpavelko.Data/obj/

/rpavelko_somee/rpavelko/bin/
/rpavelko_somee/rpavelko/obj/

/*.suo
